In [121]:
import pandas as pd
import numpy as np

In [122]:
pd.set_option('display.max_rows', None) # display all rows

In [123]:
TablaMortalidad_df = pd.read_excel("Tablas PER 2000 básicas.xls", sheet_name="PERMP", header=1)

In [124]:
TablaMortalidad_df.head()

,x+t,"qx+t, tabla base",λx+t,Unnamed: 3,Probabilidad anual de muerte,Unnamed: 5,Unnamed: 6
0,0,0.005742,0.015,NaN,Año nacim. generación,NaN,1950.000000
1,1,0.000565,0.015,NaN,Edad en 2000 (x),NaN,50.000000
2,2,0.000300,0.015,NaN,Período (t),NaN,1.000000
3,3,0.000266,0.015,NaN,"qx+t, año",NaN,0.003618
4,4,0.000225,0.015,NaN,NaN,NaN,NaN

In [125]:
TablaMortalidad_df.reindex(TablaMortalidad_df["x+t"])

,x+t,"qx+t, tabla base",λx+t,Unnamed: 3,Probabilidad anual de muerte,Unnamed: 5,Unnamed: 6
x+t,,,,,,,
0,0,0.005742,0.0150,NaN,Año nacim. generación,NaN,1950.000000
1,1,0.000565,0.0150,NaN,Edad en 2000 (x),NaN,50.000000
2,2,0.000300,0.0150,NaN,Período (t),NaN,1.000000
3,3,0.000266,0.0150,NaN,"qx+t, año",NaN,0.003618
4,4,0.000225,0.0150,NaN,NaN,NaN,NaN
5,5,0.000218,0.0150,NaN,NaN,NaN,NaN
6,6,0.000198,0.0150,NaN,NaN,NaN,NaN
7,7,0.000191,0.0150,NaN,NaN,NaN,NaN
8,8,0.000177,0.0150,NaN,NaN,NaN,NaN
9,9,0.000171,0.0150,NaN,NaN,NaN,NaN
10,10,0.000164,0.0150,NaN,NaN,NaN,NaN
11,11,0.000178,0.0150,NaN,NaN,NaN,NaN
12,12,0.000184,0.0150,NaN,NaN,NaN,NaN
13,13,0.000219,0.0150,NaN,NaN,NaN,NaN
14,14,0.000267,0.0150,NaN,NaN,NaN,NaN
15,15,0.000362,0.0150,NaN,NaN,NaN,NaN
16,16,0.000506,0.0150,NaN,NaN,NaN,NaN
17,17,0.000657,0.0150,NaN,NaN,NaN,NaN
18,18,0.000774,0.0150,NaN,NaN,NaN,NaN
19,19,0.000871,0.0150,NaN,NaN,NaN,NaN
20,20,0.000976,0.0150,NaN,NaN,NaN,NaN
21,21,0.001011,0.0150,NaN,NaN,NaN,NaN
22,22,0.001082,0.0150,NaN,NaN,NaN,NaN
23,23,0.001139,0.0150,NaN,NaN,NaN,NaN
24,24,0.001182,0.0150,NaN,NaN,NaN,NaN
25,25,0.001170,0.0150,NaN,NaN,NaN,NaN
26,26,0.001193,0.0150,NaN,NaN,NaN,NaN
27,27,0.001237,0.0150,NaN,NaN,NaN,NaN
28,28,0.001281,0.0150,NaN,NaN,NaN,NaN
29,29,0.001298,0.0150,NaN,NaN,NaN,NaN
30,30,0.001265,0.0150,NaN,NaN,NaN,NaN
31,31,0.001227,0.0150,NaN,NaN,NaN,NaN
32,32,0.001252,0.0150,NaN,NaN,NaN,NaN
33,33,0.001255,0.0150,NaN,NaN,NaN,NaN
34,34,0.001245,0.0150,NaN,NaN,NaN,NaN
35,35,0.001222,0.0150,NaN,NaN,NaN,NaN
36,36,0.001192,0.0150,NaN,NaN,NaN,NaN
37,37,0.001182,0.0150,NaN,NaN,NaN,NaN
38,38,0.001271,0.0150,NaN,NaN,NaN,NaN
39,39,0.001391,0.0150,NaN,NaN,NaN,NaN
40,40,0.001476,0.0150,NaN,NaN,NaN,NaN
41,41,0.001587,0.0150,NaN,NaN,NaN,NaN
42,42,0.001698,0.0150,NaN,NaN,NaN,NaN
43,43,0.001784,0.0150,NaN,NaN,NaN,NaN
44,44,0.001910,0.0150,NaN,NaN,NaN,NaN
45,45,0.002066,0.0150,NaN,NaN,NaN,NaN
46,46,0.002270,0.0150,NaN,NaN,NaN,NaN
47,47,0.002384,0.0150,NaN,NaN,NaN,NaN
48,48,0.002499,0.0150,NaN,NaN,NaN,NaN
49,49,0.002914,0.0150,NaN,NaN,NaN,NaN
50,50,0.003281,0.0150,NaN,NaN,NaN,NaN
51,51,0.003673,0.0150,NaN,NaN,NaN,NaN
52,52,0.004001,0.0150,NaN,NaN,NaN,NaN
53,53,0.004773,0.0150,NaN,NaN,NaN,NaN
54,54,0.005061,0.0150,NaN,NaN,NaN,NaN
55,55,0.005445,0.0150,NaN,NaN,NaN,NaN
56,56,0.005812,0.0150,NaN,NaN,NaN,NaN
57,57,0.006313,0.0150,NaN,NaN,NaN,NaN
58,58,0.006869,0.0150,NaN,NaN,NaN,NaN
59,59,0.007298,0.0150,NaN,NaN,NaN,NaN
60,60,0.008220,0.0150,NaN,NaN,NaN,NaN
61,61,0.009014,0.0150,NaN,NaN,NaN,NaN
62,62,0.009735,0.0150,NaN,NaN,NaN,NaN
63,63,0.010516,0.0150,NaN,NaN,NaN,NaN
64,64,0.011676,0.0150,NaN,NaN,NaN,NaN
65,65,0.013030,0.0150,NaN,NaN,NaN,NaN
66,66,0.014067,0.0150,NaN,NaN,NaN,NaN
67,67,0.015440,0.0150,NaN,NaN,NaN,NaN
68,68,0.017005,0.0150,NaN,NaN,NaN,NaN
69,69,0.018509,0.0150,NaN,NaN,NaN,NaN
70,70,0.019978,0.0150,NaN,NaN,NaN,NaN
71,71,0.021915,0.0150,NaN,NaN,NaN,NaN
72,72,0.024454,0.0150,NaN,NaN,NaN,NaN
73,73,0.027179,0.0150,NaN,NaN,NaN,NaN
74,74,0.030224,0.0150,NaN,NaN,NaN,NaN
75,75,0.033450,0.0150,NaN,NaN,NaN,NaN
76,76,0.036722,0.0150,NaN,NaN,NaN,NaN
77,77,0.040242,0.0150,NaN,NaN,NaN,NaN
78,78,0.044188,0.0150,NaN,NaN,NaN,NaN
79,79,0.048813,0.0150,NaN,NaN,NaN,NaN
80,80,0.053538,0.0150,NaN,NaN,NaN,NaN
81,81,0.059260,0.0150,NaN,NaN,NaN,NaN
82,82,0.065282,0.0150,NaN,NaN,NaN,NaN
83,83,0.070833,0.0150,NaN,NaN,NaN,NaN
84,84,0.075905,0.0150,NaN,NaN,NaN,NaN
85,85,0.083305,0.0150,NaN,NaN,NaN,NaN
86,86,0.091956,0.0150,NaN,NaN,NaN,NaN
87,87,0.099296,0.0150,NaN,NaN,NaN,NaN
88,88,0.108338,0.0150,NaN,NaN,NaN,NaN
89,89,0.119043,0.0150,NaN,NaN,NaN,NaN
90,90,0.130597,0.0150,NaN,NaN,NaN,NaN
91,91,0.142610,0.0150,NaN,NaN,NaN,NaN
92,92,0.156378,0.0135,NaN,NaN,NaN,NaN
93,93,0.170348,0.0120,NaN,NaN,NaN,NaN
94,94,0.185547,0.0105,NaN,NaN,NaN,NaN
95,95,0.200079,0.0090,NaN,NaN,NaN,NaN
96,96,0.215749,0.0075,NaN,NaN,NaN,NaN
97,97,0.232644,0.0060,NaN,NaN,NaN,NaN
98,98,0.250862,0.0045,NaN,NaN,NaN,NaN
99,99,0.271072,0.0030,NaN,NaN,NaN,NaN
100,100,0.292911,0.0015,NaN,NaN,NaN,NaN
101,101,0.324890,0.0000,NaN,NaN,NaN,NaN
102,102,0.347570,0.0000,NaN,NaN,NaN,NaN
103,103,0.371835,0.0000,NaN,NaN,NaN,NaN
104,104,0.397793,0.0000,NaN,NaN,NaN,NaN
105,105,0.425563,0.0000,NaN,NaN,NaN,NaN
106,106,0.455272,0.0000,NaN,NaN,NaN,NaN
107,107,0.487055,0.0000,NaN,NaN,NaN,NaN
108,108,0.510801,0.0000,NaN,NaN,NaN,NaN
109,109,0.535704,0.0000,NaN,NaN,NaN,NaN
110,110,0.561821,0.0000,NaN,NaN,NaN,NaN
111,111,0.589211,0.0000,NaN,NaN,NaN,NaN
112,112,0.617937,0.0000,NaN,NaN,NaN,NaN
113,113,0.648064,0.0000,NaN,NaN,NaN,NaN
114,114,0.679659,0.0000,NaN,NaN,NaN,NaN
115,115,1.000000,0.0000,NaN,NaN,NaN,NaN

In [126]:
TablaMortalidad_df.columns

Index(['x+t', 'qx+t, tabla base', 'λx+t', 'Unnamed: 3',
       'Probabilidad anual de muerte', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [127]:
TablaFiltrada_df = TablaMortalidad_df.drop(labels = ["x+t", "Unnamed: 3", "Probabilidad anual de muerte", 'Unnamed: 5', 'Unnamed: 6' ], axis = 1)

In [128]:
t_list = []
for i in range(0, len(TablaFiltrada_df["qx+t, tabla base"])):
    t_list.append(i)
TablaFiltrada_df.insert(loc = 0, column = "t", value = t_list)

In [129]:
import math
def q_x(qx, mejora, t):
    '''
    La función q_x(x, mejora) recibe la probabilidad de muerte qx de la tabla de mortalidad y el factor de mejora de ésta
    Devuelve la probabilidad de muerte qx ajustada por el factor de mejora.
    '''
    return qx*math.exp(-mejora*t)

In [130]:
g = int(input("Introduce el año de nacimiento x: "))

x_mas_t = 2000 - g

print("La edad que tenia esta persona en el año 2000 es: ", x_mas_t, " años")

La edad que tenia esta persona en el año 2000 es:  50  años

In [131]:
TablaResultados_df = TablaFiltrada_df.copy()

In [132]:
TablaResultados_df.head()

   t  qx+t, tabla base   λx+t
0  0          0.005742  0.015
1  1          0.000565  0.015
2  2          0.000300  0.015
3  3          0.000266  0.015
4  4          0.000225  0.015

In [133]:
x_mas_t_list = []
for i in range(0, len(TablaResultados_df["qx+t, tabla base"])):
    x_mas_t_list.append(x_mas_t + i)
TablaResultados_df.insert(loc = 1, column="x+t", value = x_mas_t_list)

In [134]:
Tabla_Mortalidad_final = TablaResultados_df.merge(TablaFiltrada_df, left_on= "x+t", right_on= "t", how = "left")

In [135]:
Tabla_Mortalidad_final = Tabla_Mortalidad_final.drop(labels = ["t_y", "qx+t, tabla base_x", "λx+t_x" ], axis = 1)
Tabla_Mortalidad_final.head()

   t_x  x+t  qx+t, tabla base_y  λx+t_y
0    0   50            0.003281   0.015
1    1   51            0.003673   0.015
2    2   52            0.004001   0.015
3    3   53            0.004773   0.015
4    4   54            0.005061   0.015

In [136]:
Calculos = []
for i in range(0, len(Tabla_Mortalidad_final["qx+t, tabla base_y"])):
    Calculos.append(q_x(Tabla_Mortalidad_final["qx+t, tabla base_y"][i],
                        Tabla_Mortalidad_final["λx+t_y"][i], 
                        Tabla_Mortalidad_final["t_x"][i] ))
    
    #Tengo que buscar en la tabla de mortalidad filtrada la qx a partir del valor x+t como primer parámetro
    #de igual manera buscar el factor de mejora como segundo parámetro
    #como tercer parámetro es suficiente con usar el valor t que siempre es el mismo independientemente de la generación (g)
    
Tabla_Mortalidad_final.insert(loc=4, column = "q_x", value = Calculos)

In [137]:
Tabla_Mortalidad_final.rename(columns={"t_x": "t", "qx+t, tabla base_y": "qx+t, tabla base", "λx+t_y": "λx+t"}, inplace=True)

In [138]:
Mortality_Table = Tabla_Mortalidad_final.drop(labels = ["qx+t, tabla base", "λx+t"], axis = 1)
Mortality_Table.head()

   t  x+t       q_x
0  0   50  0.003281
1  1   51  0.003618
2  2   52  0.003883
3  3   53  0.004563
4  4   54  0.004766

In [142]:
Mortality_Table['lx'] = 0  
Mortality_Table.loc[0, 'lx'] = 1_000_000  

# Calculamos lx y dx fila por fila
for i in range(1, len(Mortality_Table)):
    Mortality_Table.loc[i, 'lx'] = Mortality_Table.loc[i-1, 'lx'] * (1 - Mortality_Table.loc[i-1, 'q_x'])

Mortality_Table['dx'] = Mortality_Table['lx'] * Mortality_Table['q_x']
Mortality_Table

C:\Users\pablo\AppData\Local\Temp\ipykernel_11648\551017804.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '993112.5555411397' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Mortality_Table.loc[i, 'lx'] = Mortality_Table.loc[i-1, 'lx'] * (1 - Mortality_Table.loc[i-1, 'q_x'])

       t  x+t       q_x              lx            dx
0      0   50  0.003281  1000000.000000   3281.000000
1      1   51  0.003618   996719.000000   3606.444459
2      2   52  0.003883   993112.555541   3856.010337
3      3   53  0.004563   989256.545204   4513.953855
4      4   54  0.004766   984742.591350   4693.549371
5      5   55  0.005052   980049.041979   4950.779756
6      6   56  0.005312   975098.262223   5179.495794
7      7   57  0.005684   969918.766429   5512.774539
8      8   58  0.006092   964405.991891   5875.408653
9      9   59  0.006376   958530.583237   6111.954017
10    10   60  0.007075   952418.629220   6738.380437
11    11   61  0.007643   945680.248784   7227.752670
12    12   62  0.008131   938452.496114   7630.890873
13    13   63  0.008653   930821.605240   8054.333508
14    14   64  0.009464   922767.271733   8733.421639
15    15   65  0.010405   914033.850093   9510.217225
16    16   66  0.011065   904523.632868  10009.000942
17    17   67  0.011965   894514.631926  10702.608813
18    18   68  0.012981   883812.023113  11473.001000
19    19   69  0.013919   872339.022113  12142.114618
20    20   70  0.014800   860196.907495  12730.971359
21    21   71  0.015993   847465.936136  13553.796600
22    22   72  0.017581   833912.139535  14660.643219
23    23   73  0.019249   819251.496317  15769.543471
24    24   74  0.021087   803481.952846  16942.677863
25    25   75  0.022990   786539.274983  18082.401369
26    26   76  0.024863   768456.873613  19106.052990
27    27   77  0.026840   749350.820623  20112.936330
28    28   78  0.029034   729237.884293  21172.390007
29    29   79  0.031595   708065.494286  22371.279865
30    30   80  0.034137   685694.214421  23407.773778
31    31   81  0.037223   662286.440643  24652.477815
32    32   82  0.040395   637633.962828  25757.490067
33    33   83  0.043178   611876.472762  26419.440852
34    34   84  0.045581   585457.031909  26685.492689
35    35   85  0.049280   558771.539221  27535.993035
36    36   86  0.053587   531235.546186  28467.424555
37    37   87  0.057003   502768.121631  28659.331081
38    38   88  0.061268   474108.790550  29047.647587
39    39   89  0.066320   445061.142963  29516.256107
40    40   90  0.071673   415544.886856  29783.412353
41    41   91  0.077101   385761.474503  29742.517553
42    42   92  0.088701   356018.956950  31579.395083
43    43   93  0.101681   324439.561867  32989.436142
44    44   94  0.116899   291450.125726  34070.156874
45    45   95  0.133448   257379.968852  34346.855812
46    46   96  0.152798   223033.113040  34078.976369
47    47   97  0.175477   188954.136671  33157.151725
48    48   98  0.202128   155796.984947  31490.990509
49    49   99  0.234015   124305.994438  29089.445541
50    50  100  0.271746    95216.548897  25874.742226
51    51  101  0.324890    69341.806671  22528.459569
52    52  102  0.347570    46813.347102  16270.915052
53    53  103  0.371835    30542.432049  11356.745221
54    54  104  0.397793    19185.686828   7631.931921
55    55  105  0.425563    11553.754908   4916.850600
56    56  106  0.455272     6636.904308   3021.596698
57    57  107  0.487055     3615.307610   1760.853648
58    58  108  0.510801     1854.453962    947.256938
59    59  109  0.535704      907.197024    485.989074
60    60  110  0.561821      421.207949    236.643471
61    61  111  0.589211      184.564478    108.747421
62    62  112  0.617937       75.817057     46.850165
63    63  113  0.648064       28.966892     18.772400
64    64  114  0.679659       10.194492      6.928778
65    65  115  1.000000        3.265714      3.265714
66    66  116       NaN        0.000000           NaN
67    67  117       NaN             NaN           NaN
68    68  118       NaN             NaN           NaN
69    69  119       NaN             NaN           NaN
70    70  120       NaN             NaN           NaN
71    71  121       NaN             NaN           NaN
72    72  122       NaN             NaN           NaN
73    73  123       NaN             NaN           NaN
74    74  124       NaN             NaN           NaN
75    75  125       NaN             NaN           NaN
76    76  126       NaN             NaN           NaN
77    77  127       NaN             NaN           NaN
78    78  128       NaN             NaN           NaN
79    79  129       NaN             NaN           NaN
80    80  130       NaN             NaN           NaN
81    81  131       NaN             NaN           NaN
82    82  132       NaN             NaN           NaN
83    83  133       NaN             NaN           NaN
84    84  134       NaN             NaN           NaN
85    85  135       NaN             NaN           NaN
86    86  136       NaN             NaN           NaN
87    87  137       NaN             NaN           NaN
88    88  138       NaN             NaN           NaN
89    89  139       NaN             NaN           NaN
90    90  140       NaN             NaN           NaN
91    91  141       NaN             NaN           NaN
92    92  142       NaN             NaN           NaN
93    93  143       NaN             NaN           NaN
94    94  144       NaN             NaN           NaN
95    95  145       NaN             NaN           NaN
96    96  146       NaN             NaN           NaN
97    97  147       NaN             NaN           NaN
98    98  148       NaN             NaN           NaN
99    99  149       NaN             NaN           NaN
100  100  150       NaN             NaN           NaN
101  101  151       NaN             NaN           NaN
102  102  152       NaN             NaN           NaN
103  103  153       NaN             NaN           NaN
104  104  154       NaN             NaN           NaN
105  105  155       NaN             NaN           NaN
106  106  156       NaN             NaN           NaN
107  107  157       NaN             NaN           NaN
108  108  158       NaN             NaN           NaN
109  109  159       NaN             NaN           NaN
110  110  160       NaN             NaN           NaN
111  111  161       NaN             NaN           NaN
112  112  162       NaN             NaN           NaN
113  113  163       NaN             NaN           NaN
114  114  164       NaN             NaN           NaN
115  115  165       NaN             NaN           NaN

In [140]:
def tpx(x, t = 1):
    '''
    La función tpx(x+t, t) recibe la edad x y el año t.
    Devuelve la probabilidad de que un individuo con x años recien cumplidos
    sobreviva x + t años más.
    
    Si no se especifica el año t, se asume que es 1.
    '''
    l_x = None
    l_x_mas_t = None
    
    for i in range(0, len(Mortality_Table["x+t"])):
        if Mortality_Table["x+t"][i] == x:
            l_x = Mortality_Table["lx"][i]
    
    for i in range(0, len(Mortality_Table["x+t"])):
        if Mortality_Table["x+t"][i] == x + t:
            l_x_mas_t = Mortality_Table["lx"][i]
    
    if l_x is None or l_x_mas_t is None:
        raise ValueError("Edad x o x+t no encontrada en la tabla de mortalidad")
    
    return l_x_mas_t / l_x

def tqx(tpx):
    return 1 - tpx

In [141]:
edad = int(input("Introduce la edad x: "))
tiempo = int(input("Introduce el número de años a sobrevivir t: "))

supervivencia = tpx(edad, tiempo)

print("La probabilidad de sobrevivir", tiempo, " años es:", supervivencia) #43 años 22 sobrevivir, 0,91481559

ValueError: Edad x o x+t no encontrada en la tabla de mortalidad

In [143]:
Mortality_Table.head()

   t  x+t       q_x              lx           dx
0  0   50  0.003281  1000000.000000  3281.000000
1  1   51  0.003618   996719.000000  3606.444459
2  2   52  0.003883   993112.555541  3856.010337
3  3   53  0.004563   989256.545204  4513.953855
4  4   54  0.004766   984742.591350  4693.549371

In [144]:
Mortality_Table.to_excel("TablaMortalidadPER2000 Automatizada.xlsx", )